- if @giftlist.new_giftlist
  .row
    .col-xs-10.col-xs-offset-1.col-sm-6.col-sm-offset-3.wishlist-progress-bar
      %ol
        %li Create giftlist!
        %li Add gifts!
        %li Publish giftlist!
      %ol
        %li
          %span 1
        %li
          %span 2
        %li
          %span 3