%footer
  #copyright
    Copywrite &copy 2016
    %a{href: 'mailto:railsadvocate@gmail.com'} railsadvocate@gmail.com
  #footer-nav
    %ul
      %li= link_to 'Home', root_path
      %li= link_to 'About', root_path